.icon-16px-logo-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-16px-logo-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-16px-logo-twitter {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-16px-logo-youtube {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-48px-tail-left {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-48px-tail-right {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-64px-button-circle-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
